@model MVC_TicariOtomasyon.Models.Entities.Employee
@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post" enctype="multipart/form-data">

    @Html.HiddenFor(x=>x.EmployeeId)

    <label>Personel Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Personel Soyadı</label>
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    <br />
    <div class="form-group">
    <label for="resim">Resim Seç:</label>
    <input type="file" name="resim" class="form-control" id="resim">
    </div>
    @*@Html.TextBoxFor(x => x.Image, new { @class = "form-control" })*@
    <br />
    <label></label>
    @Html.DropDownListFor(x => x.DepartmentId,(List<SelectListItem>)ViewBag.employeeDepartment, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Personeli Oluştur</button>
</form>

