
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login-form-06/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/login-form-06/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-form-06/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/login-form-06/css/style.css">

    <title>Online Ticari Otomasyon</title>
</head>
<body>


    @RenderBody()

    <script src="/login-form-06/js/jquery-3.3.1.min.js"></script>
    <script src="/login-form-06/js/popper.min.js"></script>
    <script src="/login-form-06/js/bootstrap.min.js"></script>
    <script src="/login-form-06/js/main.js"></script>
</body>
</html>