@model List<MVC_TicariOtomasyon.Models.Entities.ToDoList>
<div class="row">
    <!-- Left col -->




    <div class="card col-lg-12">
        <div class="card-header">
            <h3 class="card-title">
                <i class="ion ion-clipboard mr-1"></i>
               Yapılacaklar Listesi
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <ul class="todo-list" data-widget="todo-list">
                @foreach (var item in Model)
                {

                    <li>
                        <!-- drag handle -->
                        <span class="handle">
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                        <!-- checkbox -->
                        <div class="icheck-primary d-inline ml-2">
                            <input type="checkbox" value="" name="todo1" id="@item.ToDoListId">
                            <label for="@item.ToDoListId"></label>
                        </div>
                        <!-- todo text -->
                        <span class="text">@item.Baslik</span>
                        <!-- Emphasis label -->
                        <small class="badge badge-danger"><i class="far fa-clock"></i></small>
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                        </div>
                    </li>
                }
                <!-- /.card -->
            </ul>
        </div>
    </div>
